@import "tailwindcss";
:root {
  --primaryColor: #70befa;
}
@theme {
  --primaryColor: #70befa;
}

html {
  scroll-behavior: smooth;
}

.hide-scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.nice-scroll::-webkit-scrollbar {
  width: 5px;
  color: transparent;
}
.nice-scroll::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: rgb(56, 55, 55);
  border-radius: 50px;
}

.font-man {
  font-family: "Manrope", sans-serif;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.glass {
  background: #00000030;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* border: 1px solid #ffffff0d; */
}

.glass-b {
  background: #0000004d;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #ffffff0d;
}

.gradient-text-default {
  background: linear-gradient(
    to right,
    rgba(250, 250, 250, 0.8),
    var(--primaryColor),
    rgba(250, 250, 250, 0.8)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text {
  background: linear-gradient(
    to right,
    rgba(250, 250, 250, 0.8),
    var(--primaryColor)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-background {
  background-image: linear-gradient(
    to right,
    rgba(250, 250, 250, 0.09),
    var(--primaryColor),
    rgba(250, 250, 250, 0.137)
  );
  background-size: cover;
  background-position: center;
}
